html {
  scroll-behavior: smooth; 
  text-align: center
}
  @font-face {
    font-family: 'Play';
    src: url("assets/fonts/Play-Bold.ttf");
  }
  @font-face {
    font-family: 'Play-Regular';
    src: url("assets/fonts/Play-Regular.ttf");
  }
  body {
    align-items: center;
    display: flex;
    font-family: 'Play', sans-serif;
    font-size: 18px;
    font-weight: 300;
    line-height: 1.5;
    color: #000000;
    background-color: #0ecdca50;
    justify-content: space-between;
    display:inline-block
  }
  * {
    box-sizing: border-box;
  }
  .nav-link {
    padding: 20px;
    line-height: 50px;
    list-style: none;
    transition: .3s;
  }
  .container {
    align-items: center;
    max-width: 1440px;
    margin: 0 auto;
  }
  .main-container {
    display: flex;
    flex-wrap: wrap;
  }
  .section {
    width: 50%;
  }
  @media (max-width: 768px) {
    .section {
      width: 100%;
    }
  }
  .About-me {
    font-size: 20px; 
    border-radius: 30px;
}
  .section-title {
    font-size: 20px;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 5px;
    color: #829985;
  }
  .link {
    text-decoration: none;
    color: #829985;
    transition: color 0.5s;
  }
  .link:hover {
    color: #5d7260;
  }
  .contacts {
    align-items: center;
    background: rgb(59, 169, 114);
    padding: 20px;
    border-radius: 900px;
    margin: 50px;
    list-style: none;
}
  .summary {
    align-items: center;
    background: rgb(59, 169, 114);
    padding: 20px;
    border-radius: 900px;
    margin: 50px;
    list-style: none;
  }
  .skills {
    align-items: center;
    background: rgb(59, 169, 114);
    padding: 20px;
    border-radius: 900px;
    margin: 50px;
    list-style: none;
  }
    .code {
      align-items: center;
      background: rgb(59, 169, 114);
      padding: 20px;
      border-radius: 900px;
      margin: 50px;
      list-style: none;
    }
    .projects {
      align-items: center;
      background: rgb(59, 169, 114);
      padding: 20px;
      border-radius: 900px;
      margin: 50px;
      list-style: none;
      }
      .education {
        align-items: center;
        background: rgb(59, 169, 114);
        padding: 20px;
        border-radius: 900px;
        margin: 50px;
        list-style: none;
      }
        .english {
          align-items: center;
          background: rgb(59, 169, 114);
          padding: 20px;
          border-radius: 900px;
          margin: 50px;
          list-style: none;
          }
          footer {
            background-color: #aac232;
            color: rgb(59, 171, 186);
            display: block;
            height: 500px;
            left: 0;
            position: absolute;
            width: 100%;
        }
